// main: ../style.less

.contact{
    display: flex;
}

.contact__left{
    width: 47%;
}

.contact__right{
    width: 53%;

    background: @black url(http://placehold.it/470x700) center no-repeat;
}
